
// colors

$beige         : #E3C691;
$darkGreen     : #7daf63;
$green         : #ddffaa;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;


$headFont : 'Courgette', cursive;
$bodyFont : 'cursive', sans-serif;



// font-family: 'Courgette', cursive;
//
// font-family: 'Lobster Two', cursive;
//
// font-family: 'Kaushan Script', cursive;
//
// font-family: 'Satisfy', cursive;
//
// font-family: 'Lobster', cursive;
